### DOMAIN : Agriculture

##### CONTEXT : In 2006, global concern was raised over the rapid decline in the honeybee population, an integral component to American honey agriculture. Large numbers of hives were lost to Colony Collapse Disorder, a phenomenon of disappearing worker bees causing the remaining hive colony to collapse. Speculation to the cause of this disorder points to hive diseases and pesticides harming the pollinators, though no overall consensus has been reached. Twelve years later, some industries are observing recovery but the American honey industry is still largely struggling. The U.S. used to locally produce over half the honey it consumes per year. Now, honey mostly comes from overseas, with 350 of the 400 million pounds of honey consumed every year originating from imports. This dataset provides insight into honey production supply and demand in America by state from 1998 to 2012.

#### DATA DESCRIPTION :

Useful metadata on certain variables of the honeyproduction dataset is provided below :
- numcol:
Number of honey producing colonies. Honey producing colonies are the maximum number of colonies from
which honey was taken during the year. It is possible to take honey from colonies which did not survive the entire
 year
- yieldpercol: Honey yield per colony. Unit is pounds
- totalprod: Total production (numcol x yieldpercol). Unit is pounds
- stocks: Refers to stocks held by producers. Unit is pounds
- priceperlb: Refers to average price per pound based on expanded sales. Unit is dollars.
- prodvalue: Value of production (totalprod x priceperlb). Unit is dollars.
- Other useful information:
 Certain states are excluded every year (ex. CT) to avoid disclosing data for individual operations. Due to rounding,
 total colonies multiplied by total yield may not equal production. Also, summation of states will not equal U.S. level
 value of production
 This is real commercial data, it has been anonymized, and references to the companies and partners in the
 review text have been replaced with the names of Game of Thrones great houses.

#### PROJECT OBJECTIVE : Perform various EDA & statistical analysis to understand about the data and represent the same

STEPS AND TASKS :
Q1. Data Collection and Data Preprocessing [20 Marks]


1) Import required libraries and import csv file into a dataframe. [2Marks]
2) Show the column names of all individual datasets. [2Marks]
3) Change the datatype of all columns expect price per lb. [2Marks]
4) Share 5-point summary and the details about the dataset. [2Marks]
5) Find the average production per state and shape of dataset. [2Marks]
6) Check the distribution of records for every year. [2Marks]
7) Find top 10 years with highest totalprod. [2Marks]
8) Find years with highest and lowest totalprod. [2Marks]
9) Find top 10 states with highest totalprod. [2Marks]


Q2. Data Visualization [20 Marks]
1) Visualize Q 1.9 and Q1.10 [4 Marks]
2) Find states with minimum and max price per lb. [4 Marks]
3) Visualize Q 2.2 [4 Marks]
4) Visualize the totalprod with respect to year. [4 Marks]
5) Visualize pairplot and share your insights. [4 Marks]


Q3 â€“ Statistical Analysis [20 Marks]
1) Visualize distribution of numcol, yieldpercol, priceperlb, stocks in one single frame using subplots and share your insights.
[4 Marks]
2) Visualize, boxplot and confirm if there are any outliers. [4 Marks]
3) Find Skewness and Kurtosis of complete dataframe. [4 Marks]
4) Make a new copy of dataset and use for further analysis. [4 Marks]
5) Try to make the skewed data as normal as possible & visualize the same. [4 Marks]

In [29]:
### Q1-1. Import required libraries and import csv file into a dataframe.
import pandas as pd
df = pd.read_csv("honeyproduction.csv")
df.head()

state          0
numcol         0
yieldpercol    0
totalprod      0
stocks         0
priceperlb     0
prodvalue      0
year           0
dtype: int64

In [30]:
df.isna().sum()

state          0
numcol         0
yieldpercol    0
totalprod      0
stocks         0
priceperlb     0
prodvalue      0
year           0
dtype: int64

In [9]:
### Q1-2. Show the column names of all individual datasets.
df.columns
df.dtypes

state           object
numcol         float64
yieldpercol      int64
totalprod      float64
stocks         float64
priceperlb     float64
prodvalue      float64
year             int64
dtype: object

In [10]:
### Q1-3. Change the datatype of all columns expect price per lb.
# Define the columns to exclude from datatype change
columns_to_exclude = ['price per lb']

# Iterate through the columns and change datatypes
for column in df.columns:
    if column not in columns_to_exclude:
        df[column] = pd.to_numeric(df[column], errors='coerce')
        
df.dtypes

state           object
numcol         float64
yieldpercol      int64
totalprod      float64
stocks         float64
priceperlb     float64
prodvalue      float64
year             int64
dtype: object

In [17]:
### Q1-4. Share 5-point summary and the details about the dataset.
df.describe()

,numcol,yieldpercol,totalprod,stocks,priceperlb,prodvalue,year
count,626.000000,626.000000,6.260000e+02,6.260000e+02,626.000000,6.260000e+02,626.000000
mean,60284.345048,62.009585,4.169086e+06,1.318859e+06,1.409569,4.715741e+06,2004.864217
std,91077.087231,19.458754,6.883847e+06,2.272964e+06,0.638599,7.976110e+06,4.317306
min,2000.000000,19.000000,8.400000e+04,8.000000e+03,0.490000,1.620000e+05,1998.000000
25%,9000.000000,48.000000,4.750000e+05,1.430000e+05,0.932500,7.592500e+05,2001.000000
50%,26000.000000,60.000000,1.533000e+06,4.395000e+05,1.360000,1.841500e+06,2005.000000
75%,63750.000000,74.000000,4.175250e+06,1.489500e+06,1.680000,4.703250e+06,2009.000000
max,510000.000000,136.000000,4.641000e+07,1.380000e+07,4.150000,6.961500e+07,2012.000000

In [22]:
### Q1-5. Find the average production per state and shape of dataset.
average_production = df.groupby('state')['totalprod'].mean()
average_production

state
AL    8.254667e+05
AR    2.810400e+06
AZ    2.032267e+06
CA    2.316900e+07
CO    1.750600e+06
FL    1.646987e+07
GA    3.299933e+06
HI    8.431333e+05
IA    2.080000e+06
ID    4.410667e+06
IL    4.983333e+05
IN    4.840000e+05
KS    7.079333e+05
KY    2.296667e+05
LA    3.627333e+06
MD    2.110000e+05
ME    2.467333e+05
MI    4.854667e+06
MN    9.624000e+06
MO    8.715333e+05
MS    1.456867e+06
MT    1.043747e+07
NC    5.427333e+05
ND    3.167233e+07
NE    3.158600e+06
NJ    3.995333e+05
NM    4.764667e+05
NV    4.392727e+05
NY    3.937467e+06
OH    1.040067e+06
OK    2.011667e+05
OR    2.121400e+06
PA    1.295600e+06
SC    3.433333e+05
SD    1.774273e+07
TN    4.077333e+05
TX    6.993600e+06
UT    1.179067e+06
VA    2.665333e+05
VT    3.880667e+05
WA    2.687733e+06
WI    5.455533e+06
WV    3.212000e+05
WY    2.617933e+06
Name: totalprod, dtype: float64

In [31]:
### Shape of dataset
df.shape

(626, 8)

In [23]:
### Q1-6. Check the distribution of records for every year.
yearly_distribution = df['year'].value_counts().sort_index()
yearly_distribution

1998    43
1999    43
2000    43
2001    44
2002    44
2003    44
2004    41
2005    41
2006    41
2007    41
2008    41
2009    40
2010    40
2011    40
2012    40
Name: year, dtype: int64

In [24]:
### Q1-7. Find top 10 years with highest totalprod.
yearly_total_production = df.groupby('year')['totalprod'].sum()

top_10_years = yearly_total_production.sort_values(ascending=False).head(10)
top_10_years

year
2000    219558000.0
1998    219519000.0
1999    202387000.0
2001    185748000.0
2004    182729000.0
2003    181372000.0
2010    175294000.0
2005    173969000.0
2002    171265000.0
2008    162972000.0
Name: totalprod, dtype: float64

In [27]:
### Q1-8. Find years with highest and lowest totalprod.
yearly_total_production = df.groupby('year')['totalprod'].sum()
year_highest_total = yearly_total_production.idxmax()
year_lowest_total = yearly_total_production.idxmin()
print(f"Year with highest totalprod {year_highest_total}")
print(f"Year with lowest totalprod {year_lowest_total}")

Year with highest totalprod 2000
Year with lowest totalprod 2012

In [28]:
### Q1-9. Find top 10 states with highest totalprod.
state_total_production = df.groupby('state')['totalprod'].sum()
top_10_states = state_total_production.sort_values(ascending=False).head(10)
top_10_states

state
ND    475085000.0
CA    347535000.0
SD    266141000.0
FL    247048000.0
MT    156562000.0
MN    144360000.0
TX    104904000.0
WI     81833000.0
MI     72820000.0
ID     66160000.0
Name: totalprod, dtype: float64